GEMINI_API_KEY=
RAZORPAY_KEY_ID=rzp_test_TVxJkli8nzS6lP
RAZORPAY_KEY_SECRET=CcS6ZhidKbiCtcGayTX1z2qT
RAZORPAY_COMPANY_KEY_ID=
RAZORPAY_COMPANY_KEY_SECRET=
RAZORPAY_BALANCE_KEY_ID=
RAZORPAY_BALANCE_KEY_SECRET=
